.about{
    padding:20px 100px 40px;
    display: block;
    background-color: #f5f5f5;
}
.about p{
    font-size: 22px;
    color: $second-gray;
    font-weight: 200;
}
.team h4{
    color:$first-gray;
}
.team ul{
    display: inline-block;
    padding:0;
}
.team ul li{
    display: block;
    text-align: left; 
    padding:5px;
    line-height: 20px;
}
.team ul li i{
    color:$second-gray;
    cursor: pointer;

}
.team ul li i:before{
    margin-right: 5px;  
}
.team ul li a{
    text-decoration: none;
}
.team ul li a:hover i.dotmx_twitter:before{
    color:#55acee !important;
}
.team ul li a:hover i.dotmx_facebook:before{
    color:#31478E !important;
}
.team ul li a i.dotmx_twitter:hover:before{
    color:#55acee;
}
.team ul li a i.dotmx_facebook:hover:before{
    color:#31478E;
}
.copyright{
    background-color:$white;
    left: 0;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.copyright p{
    color: $first-green;
    display: block;
    font-size: inherit;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.copyright ul{
    display: inline-block;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 0;
}
.copyright ul li{
    display: inline-block;
}
.copyright ul li a{
    text-decoration: none;
}
.copyright ul li a:hover i.dotmx_twitter:before{
    color:#55acee !important;
}
.copyright ul li a:hover i.dotmx_facebook:before{
    color:#31478E !important;
}