.d-header{
	background-color: transparent;
	left:0;
	position:fixed;
	right:0;
	top:0;
	padding:20px 0;
	z-index:9999;
	@include transition(all 0.25s linear);
}
.black{
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.5);
	@include transition(all 0.25s linear);
	background-color:$dark-gray;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	padding: 0 !important;
}
.navbar-nav{
	float:right !important;
}
.navbar-nav
	li{
		margin:5px 0 !important;
}
.navbar-header
	a
		img{
			margin:3px 0;
		}
.nav
	li.active
		a{
			@include transition(color 0.25s linear);
			color:#AAC789;
			font-weight: normal !important;
		}
.navbar-nav{
	li{
		a{
			@include transition(color 0.25s linear);
			color:$white;
			font-weight: 200 !important;
		}
	}
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li > a.active{
	@include transition(color 0.25s linear);
	border-bottom: 2px solid $second-green;
	color:$second-green !important;
	line-height: 15px;
}
.navbar-nav > li > a{
	text-transform: uppercase;
}