.main{
		color:$white;
		height: 100vh;
		position: relative;
}
.main h1{
		letter-spacing: 3px;
		margin:20px 100px;
}
.main p{
		font-size: 18px;
		margin:0 0 30px;
}
.main .container{
		display:table;
		height:61%;
}
.main
	.container
		.row{
			background-color:$white;
			border-bottom: 1px solid $third-gray;
			bottom: 0;
			left: 15px;
			padding:0;
			position: absolute;
			right: 15px;
			text-align:center;
		}
.title-content{
	display: table-cell;
	padding: 0 15px;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}
.mouse-icon{
		border-radius: 16px;
		border: 2px solid #fff;
		cursor:pointer;
		display: block;
		height: 50px;
		left: 50%;
		margin-left: -15px;
		position: absolute;
		width: 30px;
		z-index: 10;
		.wheel{
				position: relative;
				border-radius: 10px;
				background: #fff;
				width: 4px;
				height: 10px;
				top: 4px;
				margin-left: auto;
				margin-right: auto;
				-webkit-animation-name: drop;
				-webkit-animation-duration: 1s;
				-webkit-animation-timing-function: linear;
				-webkit-animation-delay: 0s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-play-state: running;
				animation-name: drop;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-delay: 0s;
				animation-iteration-count: infinite;
				animation-play-state: running;
		}
}
@-webkit-keyframes drop {
		0%   { top:5px;  opacity: 0;}
		30%  { top:10px; opacity: 1;}
		100% { top:25px; opacity: 0;}
}

@keyframes drop {
		0%   { top:5px;  opacity: 0;}
		30%  { top:10px; opacity: 1;}
		100% { top:25px; opacity: 0;}
}