.nav-pills.city{
	li{
		a{
			@include transition(all 0.25s linear);
			background-color:$second-green;
			border-radius:0 !important;
			cursor:pointer;
		}
	}
}
.nav-pills.city li a{
	&:hover{
		background-color: $dark-gray !important;
		color:$white !important;
	}
}
.nav-pills.city li.active a{
		background-color: $dark-gray !important;
		color:$white !important;
}

.select-city{
		display: table;
		margin: 0 auto;
		margin-bottom: 5px;
		background-color: $white;
}
.select-agency{
		display: table;
		margin: 0 auto;
		float:right;
}
.select-agency>ul>h4{
		background-color:$white;
		margin:0;
		padding:8px;
		position:relative;
		text-align:center;
		width:200px;
		margin-left: 2px !important;
		margin-right: 0 !important;
}
.select-agency>ul>li{
		float: none !important;
		margin-bottom: 5px;
		width: 200px;
}

.select-agency>ul>li:nth-child(2){
		margin-left: 2px !important;
		margin-right: 0 !important;
}

.active-agency {
		background-color: $dark-gray !important;
		color:$white !important;
}
.new-tabs>ul{
		display: table-cell;
		width: 300px;
		vertical-align: top;
		border-bottom: none !important;
		background-color: $white;
}

.tc-sidebar{
		margin:0;
		padding:0;
}
.tc-sidebar .tab-pane{
		margin:0;
}
.tc-sidebar .tab-pane .sl-body #listdata{
		margin:0;
		padding:0 0 0 10px;
}
.tc-sidebar .tab-pane .sl-body #listdata>li{
		display:block;
}
.tc-sidebar .tab-pane .sl-body #listdata>li span{
		color:#008631;
		font-weight: 500;
}
#mapa { position: relative;height: 100vh;}
#map-box { position: absolute;top: 0;bottom: 0;width: 100%;}
.sidebar{
		top:45px !important;
}
.leaflet-top.leaflet-left{
		top:35px !important;
}
.sidebar-tabs > li.active{
		background-color: #32363e !important;
}