<section class="guide" id="guide">
	<div class="container">
		<div class="row ">
			<div class="text-center" style="margin-bottom:30px;">
				<h3 class="title-section">Guía de implementación de políticas y proyectos</h3>
				<span style="color:#37474F;font-size:16px;">de desarrollo orientado al transporte</span>
			</div>
			<div class="col-lg-12">
				<tabset >
					<tab heading="Introducción" class="tab">
						<div class="row active">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Objetivo</h3>
								<p>Este documento tiene como primer objetivo establecer un entendimiento común sobre el concepto y la utilidad del Desarrollo Orientado al Transporte (DOT) en las ciudades mexicanas para transitar a un desarrollo bajo en emisiones. El segundo objetivo de este documento es delinear el proceso a seguir por los gobiernos locales para implementar políticas y proyectos piloto de desarrollo urbano orientado al transporte. En este sentido, este documento busca asistir a los gobiernos locales para que alcancen tal fin. Es importante notar que esta guía considera al transporte público como un elemento preexistente en las ciudades o, al menos, en una fase avanzada de planeación o implementación</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/images_section/small_guide_diagram.jpg" alt="Diagrama de la Sección Guía">
									<div class="overlay-title">
										<a href ng-click="openGuide()">
											<div class="work-item-info">
												<h4>Implementando DOT</h4>
												<i class="fa fa-search-plus"></i>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Pasos de implementación">
						<tabset class="new-tabs">
							<tab heading="Descripción">
								<p>Estos mecanismos pueden ser incentivos positivos para el desarrollo de proyectos que se establezcan en los planes y programas de desarrollo urbano orientados al DOT. Sin embargo, también pueden ser barreras legales para conseguir dichos objetivos. Por ejemplo, las disposiciones jurídicas locales deben prever los casos en los que no se requieran o se simplifiquen las autorizaciones, permisos y licencias para el uso del suelo urbano, las construcciones, las subdivisiones de terrenos y demás trámites administrativos. Esto, considerando lo dispuesto en los planes o programas de desarrollo urbano y en las normas, criterios y zonificación que de éstos se deriven (LGAH, art. 36).</p>
							</tab>
							<tab heading="Paso 1: Instituciones a cargo del DOT">
								<p>Para promover proyectos de alta densidad y usos mixtos alrededor de transporte público en las ciudades que puedan mitigar las emisiones de carbono, es adecuado realizar un mapeo delas dependencias municipales y metropolitanas y estatales encargadas de la planeación del desarrollo urbano y la movilidad en la zona metropolitana con el fin de identificar que dependencia será el brazo implementador de una política pública para promover DOT según los siguientes criterios:</p>
								<ul>
									<li><strong>Facultades de planeación del desarrollo urbano</strong></li>
									<li><strong>Facultades de ejecución de proyectos</strong></li>
									<li><strong>Capacidad operativa</strong></li>
									<li><strong>Capacidad financiera</strong></li>
									<li><strong>Facultad de aprobación de proyectos</strong></li>
									<li><strong>Voluntad política</strong></li>
									<li><strong>Posibilidades de coordinación con diferentes independencias gubernamentales involucradas, sector privado y sociedad civil.</strong></li>
								</ul>
							</tab>
							<tab heading="Paso 2: Regulaciones e incentivos para DOT">
								<p>Los gobiernos locales cuentan con una gran cantidad de regulaciones e instrumentos de desarrollo urbano que les permite planear, gestionar y financiar el desarrollo urbano. Sin embargo es esencial que estas regulaciones e instrumentos sean alineados para que puedan responder a los objetivos de movilidad y desarrollo urbano y permitan un verdadero desarrollo orientado al transporte.</p>
							</tab>
							<tab heading="Paso 3: Análisis de mercado">
								<p>El mercado inmobiliario es determinante para el éxito de un proyecto d desarrollo orientado al transporte Dado que el gobierno estatal no actual directamente en la producción de vivienda, oficinas, espacios comerciales y servicios, el sector privado tendrá un papel en la implementación de una política DOT, por lo tanto es importante analizar cuáles son las condiciones actuales del mercado inmobiliario en la ciudad.</p>
							</tab>
							<tab heading="Paso 4: Diagnostico a nivel ciudad">
								<p>Se trata de determinar qué zonas de la ciudad cercanas a transporte son aptas para el redesarrollo o la redensificación. Para esto, es necesario realizar un primer diagnóstico del desarrollo urbano y la movilidad en una zona metropolitana. Este diagnóstico necesitas con información estadística y georreferenciada, que permita visualizar claramente donde se encuentra el potencial de aplicar políticas de desarrollo orientado al transporte y realizar proyectos concretos.</p>
							</tab>
							<tab heading="Paso 5: Elección de zonas">
								<p>El análisis de la información recaba en el diagnóstico y el análisis de mercado tiene la intención de definir cuáles son las áreas de la ciudad con oportunidad de cambiar para convertirse en zonas de desarrollo orientado al transporte con bajas emisiones y necesidades de intervención gubernamental. En las áreas que ya se encuentran en el área de influencia de una estación de transporte publico pueden ser potenciales DOT por cuestiones demográficas, económicos, de utilización del suelo o por la existencia de equipamiento y servicios públicos.</p>
							</tab>
							<tab heading="Paso 6: Diagnostico a nivel estación">
								<p>Una vez definida el área de estudio, es necesario recabar información para realizar un diagnóstico. Alguna información ya se habrá obtenido al hacer el diagnóstico a nivel ciudad, pero en esta etapa también se requerirá información documental mucho más detallada de:</p>
								<ul>
									<li><strong>Contexto estadístico y demográfico</strong></li>
									<li><strong>Desarrollo urbano</strong></li>
									<li><strong>Movilidad</strong></li>
								</ul>
							</tab>
							<tab heading="Paso 7: Plan de implementación">
								<p>La caracterización de la zona realizada en el Paso 5, junto con el diagnóstico realizado en el paso anterior, serán la base para definir la estrategia a implementar en la zona DOT y conformar una cartera de proyectos necesarios. Es importante considerar que el plan de implementación debe tener un fuerte componente de participación ciudadana que permita que la población de las zonas DOT proponga y se apropie del plan del área y participe activamente en su implementación. </p>
							</tab>
							<tab heading="Paso 8: Estructura del proyecto">
								<p>La realización del plan de implementación debe incluir una definición negociada de la estructura del proyecto, es decir, qué actores son los responsables de llevar a cabo y financiar qué actividades, así como su cronograma. Para esta etapa, es indispensable que el gobierno local haya decidido el alcance de su participación en la implementación de proyectos DOT. Es importante recordar que el nivel de involucramiento del gobierno depende, en gran medida, de la fortaleza del mercado inmobiliario de la zona de la ciudad donde se vaya a dar el desarrollo.</p>
							</tab>
							<tab heading="Paso 9: Pre-Desarrollo">
								<p>La etapa de pre-desarrollo involucra una gran cantidad de actividades. Por un lado, se necesita crear una primera idea del desarrollo, asegurar que tenga sentido en el contexto DOT y que sea financieramente viable. Para esto, hay que evaluar los usos potenciales para un desarrollo según la zona, la zonificación, el potencial constructivo existente para encontrar el mejor uso y que sea más rentable. Sin embargo, hay que considerar que el mejor uso para un desarrollador no siempre refleja las necesidades de una comunidad, por lo que la participación ciudadana es clave para identificar proyectos estratégicos.</p>
							</tab>
							<tab heading="Paso 10: Adquisición de suelo">
								<p>Existen varias maneras de adquirir el suelo para un desarrollo. Por un lado, el gobierno local puede permitir o concesionar le desarrollo en propiedades  públicas. Por otro lado, puede ayudar a adquirir suelo mediante instrumentos como la expropiación o el derecho de preferencia. También puede ser que el gobierno adquiera el suelo aprecio de mercado, como si fuera un actor privado, o que lo hagan los mismos privados participantes en el proyecto. En el caso de ser varios propietarios, éstos pueden formar una asociación para aportar el suelo vía fideicomiso u otros.</p>
							</tab>
							<tab heading="Paso 11: Diseño y construcción">
								<p>En esta etapa, se desarrollan los diseños y proyectos ejecutivos de los proyectos estratégicos.Para asegurar que tengan una clara orientación al transporte, es necesario que sigan estándares de diseño y desarrollo urbano. Es en este paso cuando el punto focal dedicado a DOT debe trabajar  de cerca con los desarrolladores para garantizar que los diseños cumplan con los objetivos e indicadores de orientación al transporte.</p>
							</tab>
							<tab heading="Paso 12: Venta y arrendamiento">
								<p>Una vez construido el desarrollo, la venta y el arrendamiento de las viviendas, comercios y oficinas es el primer paso para que el DOT empiece a funcionar. Por un lado, hay que atraer negocios e industrias según el contexto y necesidades del área. Por otro, es indispensable atraer residentes de todos los niveles socioeconómicos para lograr un desarrollo orientado al transporte equitativo y evitar el desplazamiento.</p>
							</tab>
							<tab heading="Paso 13: Monitoreo y evaluación">
								<p>En todo proceso de política pública es indispensable contar con un esquema de monitoreo y evaluación que permita guiar la toma de decisiones y medir los avances e impactos de las políticas y proyectos. Para ello, es necesario tener una referencia de la situación antes de aplicar el plan.En este sentido, los datos recabados para el diagnóstico constituyen una línea base para comparar los datos del monitoreo y determinar el progreso de una política o proyecto DOT. Existirá una diferencia entre el alcance de los indicadores para evaluar una política y un proyecto.</p>
							</tab>
							<tab heading="Paso 14: Participación ciudadana">
								<p>Uno de los aspectos que deben ser considerados para obtener mejores resultados es una estrategia de participación ciudadana en la toma de decisiones, ya que el nivel de éxito de muchos proyectos en la ciudad muchas veces se debe a que no ha sido tomada en cuenta la población y sus necesidades (ITDP-CCC, 2014). Para realizar una estrategia de participación exitosa es necesario comprender que existen diversos niveles y que cada etapa del proceso de implementación de políticas y proyectos de Desarrollo Orientado al Transporte requiere un nivel de participación y un público diferente.</p>
							</tab>
						</tabset>
					</tab>
					<tab heading="Descargas" class="documents">
						<div class="row text-center downloads">
							<a href="assets/downloads/guide/" title="" download target="_blank" style="text-decoration:none;">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
									<i class="dotmx_excel"></i>
									<h4></h4>
								</div>
							</a>
							<a href="assets/downloads/guide/Estándar_DOT_2.1.pdf" title="Estándar DOT 2.1" download target="_blank" style="text-decoration:none;">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
									<i class="dotmx_pdf"></i>
									<h4>Estándar DOT 2.1</h4>
								</div>
							</a>
							<a href="assets/downloads/guide/manual-de-participacion.pdf" title="Manual de participación ciudadana" download target="_blank" style="text-decoration:none;">
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
									<i class="dotmx_pdf"></i>
									<h4>Manual de participación ciudadana</h4>
								</div>
							</a>
							<a href="assets/downloads/guide/" title="Base de datos cartográfica" download target="_blank" style="text-decoration:none;">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:15px;">
									<i class="dotmx_excel"></i>
									<h4>Base de datos cartográfica</h4>
								</div>
							</a>
							<a href="assets/downloads/guide/Guia_para_la_Redensificacion.pdf" title="Guía para la Redensificación" download target="_blank" style="text-decoration:none;">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:15px;">
									<i class="dotmx_pdf"></i>
									<h4>Guía para la Redensificación</h4>
								</div>
							</a>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section>