<section class="main" id="main">
	<div class="container">
		<div class="text-center title-content">
			<h1>Implementando el Desarrollo Orientado al Transporte</h1>
			<p>Hacia ciudades bajas en emisiones</p>
			<div class="mouse-icon" href="#tools" du-smooth-scroll du-scrollspy offset="55" >
				<div class="wheel"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<a href="http://www.sra.gob.mx/sraweb/" title="Página oficial de la SEDATU" target="_blank"><img src="assets/logo_sedatu.png" alt="logo SEDATU" width="325"></a>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<a href="http://www.semarnat.gob.mx/" title="Página oficial de la SEMARNAT" target="_blank"><img src="assets/logo_semarnat.png" alt="logo SEMARNAT" width="325"></a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<a href="http://www.usaid.gov/where-we-work/latin-american-and-caribbean/mexico" title="Página oficial de USAID" target="_blank"><img src="assets/logo_usaid.png" alt="logo USAID" width="325"></a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin:18px 0;">
				<a href="http://mexico.itdp.org/" title="Página oficial de ITDP México" target="_blank"><img src="assets/logo_itdp.png" alt="logo de ITDP México" width="225"></a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin:2px 0;">
				<a href="https://www.gov.uk/government/world/organisations/british-embassy-mexico-city" title="Página oficial de la Embajada Británica en México" target="_blank"><img src="assets/logo_embajada_britanica.png" alt="logo SEDATU" width="250"></a>
			</div>
		</div>
	</div>
</section>