<section class="strategies" id="strategies">
	<div class="container">
		<div class="row ">
			<div class="text-center" style="margin-bottom:30px;">
				<h3 class="title-section">Estrategias por caso de estudio</h3>
				<span style="color:#37474F;font-size:16px;">para la implementación de políticas y proyectos de desarrollo orientado al transporte</span>
			</div>
			<div class="col-lg-12">
				<tabset>
					<tab heading="Introducción" class="tab">
						<div class="row active">
							<div class="col-xs-12" style="padding:15px;">
								<h3>Objetivo de las Estrategias</h3>
								<p>En esta sección se presentan tres casos de estudios específicos para las Zonas metropolitanas de Aguascalientes, Zona metropolitana de Guadalajara y Zona Metropolitana del Valle de México, que incluyen un análisis a nivel ciudad y corredor de tres dimensiones: el análisis del entorno construido e infraestructura, el marco legal y de planeación y el entorno político y de mercado.</p>
								<ul>
									<li><strong>El análisis del entorno construido e infraestructura.</strong></li>
									<li><strong>El marco legal y de planeación.</strong></li>
									<li><strong>El entorno político y de mercado.</strong></li>
								</ul>
							</div>
						</div>
					</tab>
					<tab heading="Zona Metropolitana de Aguascalientes">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:15px;">
								<accordion >
									<accordion-group is-open="ags_first.isFirstOpen" >
										<accordion-heading is-open="ags_first.isFirstOpen" ng-class="{collapse:!ags_first.isFirstOpen}">
										Descripción <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ags_first.isFirstOpen, 'glyphicon-chevron-right': !ags_first.isFirstOpen}"></i>
										</accordion-heading>
										<p>Aguascalientes fue pionera en diversos ámbitos de la planeación urbana en este país. Comenzó antes que las demás ciudades medias en desarrollar su primer programa director urbano y fue también de los primeros estados en integrar un Código Urbano.</p>
										<p>Para alcanzar la visión de accesibilidad y conectividad que la ciudad se plantea en su Programa de Desarrollo Urbano, el Desarrollo Orientado al Transporte (DOT), puede convertirse en una herramienta importante en una ciudad con tradición de planeación urbana. Como legado de su planeación, Aguascalientes es una de las ciudades en México con una clara estructura urbana y vial. Conformada por tres anillos periféricos y vialidades que la recorren de norte a sur y de oriente a poniente, esta estructura  es una oportunidad para un sistema integrado de transporte como queda establecido en el Programa de Movilidad Integral Sustentable de la Zona Metropolitana de Aguascalientes. Las oportunidades de implementar DOT ante estructura de transporte que propone este programa será el objetivo del análisis de este estudio de caso.</p>
									</accordion-group>
<!-- 									<accordion-group is-open="ags_second.open">
										<accordion-heading>
										Proyecto <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ags_second.open, 'glyphicon-chevron-right': !ags_second.open}"></i>
										</accordion-heading>
										<p>Proyecto</p>
									</accordion-group> -->
									<accordion-group is-open="ags_third.open" class="documents">
										<accordion-heading style="background-color:#009688;">
										Descargas <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': ags_third.open, 'glyphicon-chevron-right': !ags_third.open}"></i>
										</accordion-heading>
										<div class="row text-center downloads">
											<h1>PRÓXIMAMENTE</h1>
<!-- 											<a href="assets/descargas/estrategias/.pdf" title="Caso de Estudio ZMA" download target="_blank" style="text-decoration:none;">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:15px;">
													<i class="dotmx_pdf"></i>
													<h4>Caso de estudio ZMA</h4>
												</div>
											</a>
											<a href="assets/descargas/estrategias/.pdf" title="Anexos de caso de estudio ZMA" download target="_blank" style="text-decoration:none;">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:15px;">
													<i class="dotmx_pdf"></i>
													<h4>Anexos de caso de estudio de ZMA</h4>
												</div>
											</a> -->
										</div>
									</accordion-group>
								</accordion>
							</div>
						</div>
					</tab>
					<tab heading="Zona Metropolitana de Guadalajara">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:15px;">
								<accordion >
									<accordion-group is-open="gdl_first.isFirstOpen" >
										<accordion-heading is-open="gdl_first.isFirstOpen" ng-class="{collapse:!gdl_first.isFirstOpen}">
										Descripción <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': gdl_first.isFirstOpen, 'glyphicon-chevron-right': !gdl_first.isFirstOpen}"></i>
										</accordion-heading>
										<p>Guadalajara destaca por  su red de transporte público masivo es manejada por una sola empresa pública: SITEUR, que ofrece el servicio de dos líneas de tren ligero, y actualmente construye la tercera, opera las rutas alimentadoras especiales llamadas Pre-Tren y también maneja la Línea 1 del BRT llamado localmente Macrobús, la cual, además, cuenta con 15 rutas alimentadoras.</p>
										<p>La oportunidad para el Desarrollo Orientado el Transporte (DOT) en Guadalajara es importante, por su herencia urbanística. Un aspecto sobresaliente es que en su zona central presenta, en un territorio muy amplio, una de las trazas viales más ortogonales del país la cual permite una alta accesibilidad, uno de los principales atributos para lograr una política DOT.</p>
									</accordion-group>
									<!-- <accordion-group is-open="gdl_second.open">
										<accordion-heading>
										Proyecto <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': gdl_second.open, 'glyphicon-chevron-right': !gdl_second.open}"></i>
										</accordion-heading>
										<p>Proyecto</p>
									</accordion-group> -->
									<accordion-group is-open="gdl_third.open" class="documents">
										<accordion-heading style="background-color:#009688;">
										Descargas <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': gdl_third.open, 'glyphicon-chevron-right': !gdl_third.open}"></i>
										</accordion-heading>
										<div class="row text-center downloads">
											<h1>PRÓXIMAMENTE</h1>
<!-- 											<a href="assets/descargas/estrategias/.pdf" title="Caso de Estudio ZMG" download target="_blank" style="text-decoration:none;">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:15px;">
													<i class="dotmx_pdf"></i>
													<h4>Caso de estudio ZMG</h4>
												</div>
											</a>
											<a href="assets/descargas/estrategias/.pdf" title="Anexos de caso de estudio ZMG" download target="_blank" style="text-decoration:none;">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:15px;">
													<i class="dotmx_pdf"></i>
													<h4>Anexos de caso de estudio de ZMG</h4>
												</div>
											</a> -->
										</div>
									</accordion-group>
								</accordion>
							</div>
						</div>
					</tab>
					<tab heading="Zona Metropolitana del Valle de México">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:15px;">
								<accordion >
									<accordion-group is-open="mx_first.isFirstOpen" >
										<accordion-heading is-open="mx_first.isFirstOpen" ng-class="{collapse:!mx_first.isFirstOpen}">
										Descripción <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': mx_first.isFirstOpen, 'glyphicon-chevron-right': !mx_first.isFirstOpen}"></i>
										</accordion-heading>
										<p>La extensión urbana de la Zona Metropolitana del Valle de México (ZMVM) es simplemente inmensa. Proponer una política de Desarrollo Orientado al Transporte (DOT) en esta gran ciudad ha sido un tema progresivo en los últimos 8 años desde que se hicieron evidentes los beneficios de la implementación de su primer corredor troncal de transporte (“METROBUS”) en Insurgentes, el cual fue inaugurado en junio de 2005. A partir de este punto la ZMVM ha implementado 8 corredores de BRT,  5 de ellos en el Distrito Federal y 3 en el Estado de México y una línea de Metro en el DF. De tal forma que el potencial para implementar DOT en la ZMVM no ha hecho más que crecer.</p>
										<p>La iniciativa de políticas DOT parte de reconocer que si bien esta área urbana tiene una superficie extensa aún tiene una tremenda oportunidad de desarrollo dado su reparto modal ya que la mayor parte de  los viajes realizados en la ciudad se realizan en transporte público.</p>
										<p>De las 3 ciudades mexicanas estudiadas (Zonas metropolitanas de Aguascalientes, Guadalajara y Valle de México), se podría decir que es la ZMVM la que presenta la principal oportunidad, simplemente porque tiene la red de transporte masivo más amplia y su población usa predominantemente el transporte público. </p>
									</accordion-group>
<!-- 									<accordion-group is-open="mx_second.open">
										<accordion-heading>
										Proyecto <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': mx_second.open, 'glyphicon-chevron-right': !mx_second.open}"></i>
										</accordion-heading>
										<p>Proyecto</p>
									</accordion-group> -->
									<accordion-group is-open="mx_third.open" class="documents">
										<accordion-heading>
										Descargas <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': mx_third.open, 'glyphicon-chevron-right': !mx_third.open}"></i>
										</accordion-heading>
										<div class="row text-center downloads">
											<h1>PRÓXIMAMENTE</h1>
<!-- 											<a href="assets/descargas/estrategias/.pdf" title="Caso de Estudio ZMVM" download target="_blank" style="text-decoration:none;">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:15px;">
													<i class="dotmx_pdf"></i>
													<h4>Caso de estudio ZMVM</h4>
												</div>
											</a>
											<a href="assets/descargas/estrategias/.pdf" title="Anexos de caso de estudio ZMVM" download target="_blank" style="text-decoration:none;">
												<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:15px;">
													<i class="dotmx_pdf"></i>
													<h4>Anexos de caso de estudio de ZMVM</h4>
												</div>
											</a> -->
										</div>
									</accordion-group>
								</accordion>
							</div>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section>