<section class="tools" id="tools">
	<div class="container">
		<div class="row">
			<div class="text-center" style="margin-bottom:30px;padding:0 15px;">
				<h3 class="title-section">Diagnóstico de Instrumentos de Desarrollo Urbano</h3>
				<span style="color:#37474F;font-size:16px;">para transitar a ciudades bajas en emisiones en el sector transporte</span>    
			</div>
			<div class="col-lg-12">
				<tabset >
					<tab heading="Introducción" class="tab">
						<div class="row active">
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="padding:15px;">
								<h3>Objetivo</h3>
								<p>Identificar cuáles son las herramientas con las que hoy cuentan los gobiernos estatales y municipales para guiar y financiar el desarrollo urbano. Al explicar para qué sirven y cuáles son las consecuencias de su aplicación también se analiza cómo los instrumentos puede contribuir u obstaculizar la construcción de ciudades compactas, mixtas y diversas, con una movilidad sustentable y una sociedad más equitativa.</p>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding:15px;">
								<div class="tabs-img"> 
									<img ng-src="assets/images_section/small_tools_diagram.jpg" alt="Diagrama de la Sección Instrumentos" data-big="assets/dot_bgn2.jpg">
									<div class="overlay-title">
										<a href ng-click="openTools()">
											<div class="work-item-info">
												<h4>Intrumentos de Desarrollo Urbano</h4>
												<i class="fa fa-search-plus"></i>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</tab>
					<tab heading="Instrumentos Normativos">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="margin:0;padding:0;">
								<tabset class="new-tabs">
									<tab heading="Descripción">
										<p>Estos instrumentos pueden ser incentivos positivos para el desarrollo de proyectos que se establezcan en los planes y programas de desarrollo urbano orientados al DOT. Sin embargo, también pueden ser barreras legales para conseguir dichos objetivos. Por ejemplo, las disposiciones jurídicas locales deben prever los casos en los que no se requieran o se simplifiquen las autorizaciones, permisos y licencias para el uso del suelo urbano, las construcciones, las subdivisiones de terrenos y demás trámites administrativos. Esto, considerando lo dispuesto en los planes o programas de desarrollo urbano y en las normas, criterios y zonificación que de éstos se deriven (LGAH, art. 36).</p>
									</tab>
									<tab heading="Instrumentos normativos de planeación">
										<p>Los instrumentos de planeación definen los propósitos, la estrategia general y la política pública de desarrollo urbano en un territorio determinado. Podemos catalogarlos de la siguiente manera:</p>
										<ul>
											<li><strong>Planes y Programas de Desarrollo</strong></li>
											<ul>
												<li>Plan Nacional de Desarrollo</li>
												<li>Plan Nacional de Desarrollo Urbano</li>
												<li>Programas Básicos de Desarrollo Urbano</li>
												<li>Programas Derivados de Desarrollo Urbano</li>
											</ul>
											<li><strong>Normas Generales de Ordenación (NGO)</strong></li>
											<li><strong>Áreas de Gestión Estratégica</strong></li>
										</ul>
									</tab>
									<tab heading="Instrumentos normativos de adquisición de suelo">
										<p>Son disposiciones jurídicas para que las autoridades de desarrollo urbano adquieran la propiedad, establezcan limitaciones a la propiedad privada y eviten acciones de especulación en proyectos inmobiliarios.</p>
										<ul>
											<li><strong>Expropiación</strong></li>
											<li><strong>Derecho de preferencia / Derecho del tanto</strong></li>
											<li><strong>Acciones para evitar la especulación</strong></li>
										</ul>
									</tab>
									<tab heading="Instrumentos normativos de control sobre el desarrollo">
										<p>Son disposiciones jurídicas para que las autoridades de desarrollo urbano mantengan el control de los usos de suelo, proyectos inmobiliarios y crecimiento de desarrollo urbano. Este tipo de instrumentos pueden servir a las autoridades de desarrollo urbano para controlar el crecimiento desordenado de las ciudades.</p>
										<ul>
											<li><strong>Zonificación</strong></li>
											<li><strong>Áreas no urbanizables</strong></li>
											<li><strong>Incorporación de predios</strong></li>
											<li><strong>Regularización de la tenencia de la tierra</strong></li>
											<li><strong>Fraccionamientos</strong></li>
										</ul>
									</tab>
									<tab heading="Instrumentos normativos de gestión del desarrollo">
										<p>Aplican a los procesos de toma de decisión de las autoridades de desarrollo urbano. No  todas las leyes locales tienen estos instrumentos, ya que son relativamente nuevos e innovadores. Su principal característica es que reconocen el papel de los tomadores de decisiones, siendo los instrumentos normativos más flexibles y que permiten realizar acciones de mejoramiento puntuales atendiendo a necesidades específicas.</p>
									</tab>
									<tab heading="Instrumentos normativos de coordinación">
										<p>Estos instrumentos reducen los costos de transacción de la coordinación entre las autoridades de desarrollo urbano. A pesar de que estos instrumentos no son exclusivos del desarrollo urbano, son clave para la implementación de los proyectos DOT, ya que, como hemos mencionado, una de las características del desarrollo urbano es la intervención de diferentes y variados actores.</p>
										<ul>
											<li><strong>Convenios administrativos</strong> </li>
											<li><strong>Organismos auxiliares</strong> </li>
											<li><strong>Mecanismos de coordinación en las Zonas Metropolitanas</strong> </li>
										</ul>
									</tab>
									<tab heading="Instrumentos normativos coercitivos">
										<p>Son disposiciones jurídicas que sancionan el incumplimiento de las obligaciones de desarrollo urbano. Podemos traducirlos como incentivos negativos que permiten la ejecución de los otros instrumentos. Su importancia radica en que sirven como amenaza de la legislación para desalentar cualquier intento de violar un precepto normativo. Las medidas de seguridad y sanciones administrativas son impartidas por la administración pública estatal y federal.</p>
										<ul>
											<li><strong>Medidas de seguridad</strong></li>
											<li><strong>Sanciones</strong></li>
											<li><strong>Delitos</strong></li>
										</ul>
									</tab>
									<tab heading="Instrumentos normativos en leyes distintas a la de DU">
										<p>Son disposiciones normativas establecidas en leyes que no son de desarrollo urbano y que impactan en éste. Se realizó esta separación dentro de la clasificación de instrumentos normativos para distinguir los que podemos encontrar en leyes que no son de desarrollo urbano. Estos pueden ser clasificados dentro de los instrumentos de adquisición del suelo, de control del suelo, de gestión del desarrollo, de coordinación y coercitivos.</p>
										<ul>
											<li><strong>Leyes de expropiación estatales</strong></li>
											<li><strong>Leyes de movilidad</strong></li>
											<li><strong>Otras leyes</strong></li>
										</ul>
									</tab>
								</tabset>
							</div>
						</div>
					</tab>
					<tab heading="Instrumentos Económicos">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:0;padding:0;">
								<tabset class="new-tabs">
									<tab heading="Descripción">
										<p>Son disposiciones establecidas en las leyes fiscales como gravámenes y al gasto público, los cuales permiten el financiamiento de inversiones públicas. Lo anterior sea con cargo al erario público, con participación privada o mediante la captura de valor generada por la inversión privada. Además dichos instrumentos pueden generar un cambio de comportamiento que incentiva o desincentiva ciertas actividades, incluido el desarrollo urbano.</p>
									</tab>
									<tab heading="Instrumentos económicos fiscales">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
												<accordion >
													<accordion-group is-open="fiscal_first.isFirstOpen" >
														<accordion-heading is-open="fiscal_first.isFirstOpen" ng-class="{collapse:!fiscal_first.isFirstOpen}">
														Descripción <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': fiscal_first.isFirstOpen, 'glyphicon-chevron-right': !fiscal_first.isFirstOpen}"></i>
														</accordion-heading>
														<p>Generan un cambio de comportamiento dependiendo de si se diseñan como incentivos positivos, como exenciones tributarias, o como incentivos negativos gravando actividades no deseadas. Los instrumentos fiscales pueden recuperar valor por concesiones de densidad o acciones de mejoramiento que se aplican a cierta zona. 
														</p>
														<p>Los mecanismos fiscales pueden recuperar valor por concesiones de densidad o acciones de mejoramiento que se aplican a cierta zona</p>
													</accordion-group>
													<accordion-group is-open="fiscal_second.open">
														<accordion-heading>
														Contribución de mejoras <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': fiscal_second.open, 'glyphicon-chevron-right': !fiscal_second.open}"></i>
														</accordion-heading>
														<p>Las contribuciones por mejoras son gravámenes por obra pública o sevicio público en una zona de beneficio. Estos mecanismos son los más utilizados para la captura de valor. Todas las entidades federativas tienen este mecanismo. Sin embargo, sólo algunas entidades federativas tienen legislados mecanismos de captura de valor específicos en sus leyes de desarrollo urbano. Las contribuciones por mejoras que tienen como objetivo la captación de valor y los estados que cuentan con dicho mecanismo específico.</p>
													</accordion-group>
													<accordion-group is-open="fiscal_third.open">
														<accordion-heading>
														Derechos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': fiscal_third.open, 'glyphicon-chevron-right': !fiscal_third.open}"></i>
														</accordion-heading>
														<p>Los derechos son contribuciones fiscales que gravan los bienes y servicios públicos.El principal bien en el desarrollo urbano es el suelo, por ello los mecanismos identificados están relacionados con el uso y aprovechamiento de éste. Debido a que los derechos también gravan servicios, muchas veces se confunden con las contribuciones; sin embargo, éstos no gravan el servicio de obra pública. </p>
														<p>Es importante aclarar que este mecanismo no sirve para la captura de valor porque lo que grava es un servicio público, por ello si se quiere capturar el valor el mecanismo correcto es el de contribución de mejoras.</p>
													</accordion-group>
													<accordion-group is-open="fiscal_fourth.open">
														<accordion-heading>
														Impuestos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': fiscal_fourth.open, 'glyphicon-chevron-right': !fiscal_fourth	.open}"></i>
														</accordion-heading>
														<p>Los impuestos son las contribuciones establecidas en la ley que deben pagar las personas físicas y morales que se encuentren en la situación jurídica o de hecho prevista por la misma y que sean distintas a las aportaciones de seguridad social, contribución de mejoras y derechos (Alcalá, 2013). Una de las principales fuentes de ingreso municipal es el impuesto predial.</p>
														<p>Son sujetos al predial, las personas físicas y morales que sean propietarias del suelo o las construcciones adheridas a éste, independientemente de los derechos que sobre las construcciones tenga un tercero.  La principal ventaja es que, al incrementar la densidad poblacional y las construcciones dentro de una ciudad, también incrementa la recaudación del predial.</p>
														<p>Al permitir la expansión urbana, reduce la base tributaria de una ciudad, haciendo cada vez más difícil mantenerla por la baja recaudación y el costo de mantenimiento de los servicios. Además, la expansión urbana fuera de los límites municipales (zonas metropolitanas) reduce los impuestos recibidos por la ciudad.</p>
													</accordion-group>
												</accordion>
											</div>
										</div>
									</tab>
									<tab heading="Instrumentos económicos de financiamiento">
										<div class="row">
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<accordion >
													<accordion-group is-open="funding_first.isFirstOpen" >
														<accordion-heading is-open="funding_first.isFirstOpen" ng-class="{collapse:!funding_first.isFirstOpen}">
														Financiamiento Tradicional <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': funding_first.isFirstOpen, 'glyphicon-chevron-right': !funding_first.isFirstOpen}"></i>
														</accordion-heading>
														<p>Llamamos a estos mecanismos financieros tradicionales porque son utilizados en cualquier proyecto de financiamiento, no solamente en proyectos de desarrollo urbano o DOT. Dentro estos mecanismos identificamos a:</p>
														<ul>
															<li><strong>La deuda pública</strong></li>
															<li><strong>La bursatilización</strong></li>
															<li><strong>Las APPs.</strong></li>
														</ul>
													</accordion-group>
													<accordion-group is-open="funding_second.open">
														<accordion-heading>
														Financiamiento de Desarrollo Urbano <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': funding_second.open, 'glyphicon-chevron-right': !funding_second.open}"></i>
														</accordion-heading>
														<p>Además de los mecanismos tradicionales existen mecanismos de financiamiento especiales de desarrollo urbano. La ventaja de éstos es que no requieren integrar varios tipos mecanismos al momento de implementarlos, sino que por sí solos atienden a las necesidades de obra urbana y, algunos, a obra urbana relacionada con el transporte. Los mecanismos identificados fueron:</p>
														<ul>
															<li><strong>Las acciones de urbanización</strong></li>
															<li><strong>La transferencia de potencialidades</strong></li>
															<li><strong>Las Áreas de Desarrollo Económico (ADE)</strong></li>
														</ul>
													</accordion-group>
												</accordion>
											</div>
										</div>
									</tab>
								</tabset>
							</div>
						</div>
					</tab>
					<tab heading="Descargas" class="documents">
						<div class="row text-center downloads">
<!-- 							<a href="assets/descargas/instrumentos/.pdf" title="" download target="_blank" style="text-decoration:none;">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:15px;">
									<i class="dotmx_pdf"></i>
									<h4>Instrumentos para el Desarrollo Orientado al Transporte</h4>
								</div>
							</a> -->
							<a href="assets/descargas/instrumentos/Leyes_e_instrumentos_aplicables_por_estado.xlsx" title="Leyes e instrumentos aplicables por estado" download target="_blank" style="text-decoration:none;">
								<div class="col-xs-12" style="padding:15px;">
									<i class="dotmx_excel"></i>
									<h4>Leyes e instrumentos aplicables por estado</h4>
								</div>
							</a>
						</div>
					</tab>
				</tabset>
			</div>
		</div>
	</div>
</section>