<header class="d-header">
	<div class="container">
		<div class="navbar-header">
		 	<a ui-sref="index" style="text-decoration:none;text-style:none;">
		 		<h2 style="margin:8.5px auto;font-family: 'Quicksand', sans-serif;">DOT <span style="color:#74BDB6;">MX</span></h2>
		  	</a>
		</div>
	  	<div class="navbar-collapse collapse" >
			<ul class="nav navbar-nav">
				<li ><a href="#project" title="Proyecto" du-smooth-scroll du-scrollspy offset="50">Proyecto</a></li>
				<li ><a href="#tools" title="Instrumentos" du-smooth-scroll du-scrollspy offset="50">Intrumentos</a></li>
				<li ><a href="#guide" title="Guía" du-smooth-scroll du-scrollspy offset="50">Guía</a></li>
				<li ><a href="#map" title="Mapa" du-smooth-scroll du-scrollspy offset="55">Mapa</a></li>
				<li ><a href="#strategies" title="Estratégias" du-smooth-scroll du-scrollspy offset="50">Estrategias</a></li>
				<li ><a href="#model" title="Modelo" du-smooth-scroll du-scrollspy offset="50">Modelo</a></li>
				<li ><a href="#about" title="Acerca" du-smooth-scroll du-scrollspy offset="50">Acerca de</a></li>
			</ul>
	  	</div>
	</div>
</header>
