<ul class="cb-slideshow">
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
	<li><span></span></li>
</ul>
<main-section></main-section>
<project-section></project-section>
<tools-section></tools-section>
<guide-section></guide-section>
<section class="map" id="map">
	<div id="mapa">
		<div id="sidebar" class="sidebar collapsed">
			<!-- Nav tabs -->
			<ul class="sidebar-tabs" role="tablist">
				<li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
			</ul>

			<!-- Tab panes -->
			<div class="sidebar-content active">
				<div class="sidebar-pane" id="home">
					<ul class="nav nav-pills test">
						<li style="padding:5px 0;margin:0" class="col-xs-4 col-sm-4 col-md-4 active">
							<a id="poblacion" style="padding:10px 5px; background-color:transparent;">Población</a>
						</li>
					</ul>
					
					<div class="tab-content tc-sidebar">
						<div class="row tab-pane active poblacion">
							<div class="sl-body">
								<ul id="listdata">
									<li>Nombre de la estación: <span id="info-Name"></span></li>
									<li>Agencia: <span id="info-Agencia"></span></li>
									<li>Descripción: <span id="info-Descriptio"></span></li>
									<li>Total de escuelas: <span id="info-Escuelas"></span></li>
									<li>Centros de salud y asistencia médica: <span id="info-AsistMed"></span></li>
									<li>Centros comerciales: <span id="info-CComerc"></span></li>
									<li>Mercados: <span id="info-Mercados"></span></li>
									<li>Templos: <span id="info-Templos"></span></li>
									<li>Plazas: <span id="info-Plazas"></span></li>
									<li>Instalaciones recreativas y deportivas: <span id="info-Deport"></span></li>
									<li>Personal remunerado del sector primario: <span id="info-PerRemPrim"></span></li>
									<li>Personal remunerado del sector secundario: <span id="info-PerRemSecu"></span></li>
									<li>Personal remunerado del sector terciario: <span id="info-PerRemTerc"></span></li>
									<li>Unidades económicas del sector primario: <span id="info-UEprim"></span></li>
									<li>Unidades económicas del sector secundario: <span id="info-UEsecu"></span></li>
									<li>Unidades económicas del sector terciario: <span id="info-UEterc"></span></li>
									<li>Población total: <span id="info-PobTot"></span></li>
									<li>Viviendas totales: <span id="info-VivTot"></span></li>
									<li>Viviendas deshabitadas: <span id="info-VivDeshab"></span></li>
									<li>Viviendas con automóvil: <span id="info-VivConAuto"></span></li>
									<li>Viviendas con todos los servicios: <span id="info-VivTodServ"></span></li>
									<li>Población ocupada: <span id="info-PobOcupada"></span></li>
									<li>Población desocupada: <span id="info-PobDesocup"></span></li>
									<li>Densidad de población promedio: <span id="info-DensPobAvg"></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="map-box" class="sidebar-map"></div>
		
		<div class="select-city">
			<ul class="nav nav-pills city" id="focus-city">
			  <li class="active"><a id="cdmx" class="dotmx_marker">Ciudad de México</a></li>
			  <li><a id="gdl">Guadalajara</a></li>
			  <li><a id="puebla">Puebla</a></li>
			  <li><a id="mty">Monterrey</a></li>
			  <li><a id="juarez">Juarez</a></li>
			  <li><a id="leon">Leon</a></li>
			  <li><a id="chihua">Chihuahua</a></li>
			  <li><a id="aguas">Aguascalientes</a></li>
			  <li><a id="pachuca">Pachuca</a></li>
			</ul>
			<div class="openSC">
				<span class="city bbvanalyzr-down-city"></span>
			</div>
		</div>
		
		<div class="select-agency">
			<ul class="nav nav-pills city" id="focus-agency"></ul>
			<div class="openSC"><span class="agency bbvanalyzr-down-agency"></span></div>
		</div>
	</div>
</section>
<strategies-section></strategies-section>
<model-section></model-section>