@font-face {
	font-family: "dotmx";
	src: url("../assets/fonts/dotmx.eot");
	src: url("../assets/fonts/dotmx.eot#iefix") format("embedded-opentype"),
	url("../assets/fonts/dotmx.woff") format("woff"),
	url("../assets/fonts/dotmx.ttf") format("truetype"),
	url("../assets/fonts/dotmx.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="dotmx_"]:before,
[class*=" dotmx_"]:before,
[class^="dotmx_"]:after,
[class*=" dotmx_"]:after {
	font-family: dotmx;
	font-size: 20px;
	font-style: normal;
	vertical-align: middle;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
.dotmx_pdf:before {
	content: "\e000";
}
.dotmx_arrow_up:before {
	content: "\e001";
}
.dotmx_data108:before {
	content: "\e002";
}
.dotmx_Infographic:before {
	content: "\e003";
}
.dotmx_down:before {
	content: "\e004";
}
.dotmx_excel:before {
	content: "\e005";
}
.dotmx_marker:before {
	content: "\e006";
}
.dotmx_facebook:before {
	content: "\e007";
}
.dotmx_github:before {
	content: "\e008";
}
.dotmx_pdf2:before {
	content: "\e009";
}
.dotmx_rar:before {
	content: "\e00a";
}
.dotmx_transport2:before {
	content: "\e00b";
}
.dotmx_transport21:before {
	content: "\e00c";
}
.dotmx_twitter:before {
	content: "\e00d";
}
.dotmx_transport:before {
	content: "\e00e";
}
.dotmx_excel:before {
	content: "\e00f";
}




.dotmx_down:before {
	color:#455A64;
	font-size: 30px;
}
.dotmx_marker:before {
	color:#70C1B7;
	font-size: 13px;
	margin-right: 5px;
}
.dotmx_facebook,
.dotmx_twitter,
.dotmx_github{
	&:before{
		color:#455A64;
	}
}
.dotmx_excel,
.dotmx_excel2,
.dotmx_pdf,
.dotmx_pdf2,
.dotmx_data108,
.dotmx_Infographic,
.dotmx_rar{
	&:before{
		color:#455A64;
		font-size: 60px !important;
	}
}
.dotmx_transport2,
.dotmx_transport21,
.dotmx_transport{
	&:before{
		color:#70C1B7;
		font-size: 13px;
		margin-right: 5px;
	}
}