@import 'base/_fonts';
@import 'helpers/_helper';
@import 'layout/_main-section';
@import 'layout/_header';
@import 'layout/_map';
@import 'layout/_footer';
@import 'components/_tabs';
@import 'components/_modal';

.project,
.tools,
.guide,
.strategies,
.model{
	height:100%;
	padding:30px 0 70px 0;
	position:relative;
}
.project,
.guide,
.strategies{
	background-color: #f5f5f5;
}
.tools,
.model{
		background-color: $white;
}
.tab-content{
	background-color: #f5f5f5;
	padding:0px 15px;
}
.tab-content{
	.tab-pane{
		h3{
			color:$first-gray;
			margin:0 0 20px 0;
		}
	}
}
.tab-content .tab-pane p,
.tab-content .tab-pane ul li{
	color:$second-gray;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.75;
}
.tabs-img{
	cursor: pointer;
	display: inline-block;
	position: relative;
}

.tabs-img
	img{
		float: right;
		width: 100%;
	}
.overlay-title:hover{
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	-moz-transition-property: all;
	-o-transition-property: all;
	-webkit-transition-property: all;
	transition-property: all;
	-moz-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-moz-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.panel-default
	.panel-heading{
		background-color:$second-green !important;
		color:$white !important;
	}
.panel-body {
		background-color: #fafafa;
}
.panel-body
	p{
		color:#505c70;
		line-height: 1.75 !important;
	}
.topcontrol{
	@include transition(all 0.4s ease-in-out);
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: $dark-gray;
	border-radius: 4px;
	border: none;
	color: $white;
	display: inline-block;
	height: 35px;
	opacity:0;
	position: fixed;bottom: 20px;
	right: 20px;
	text-align: center;
	width: 35px;
	z-index: 30;
	font-size: 20px;
	cursor: pointer;
}
.topcontrol{
	i.dotmx_arrow_up:hover:before{
		color:#70C1B7;
		@include transition(all 0.25s linear);
	}
}
.dark{
		opacity: 1 !important;
}
.downloads
	a
	div{
		cursor: pointer;
	}
.downloads{
	a{
		div{
			p{
				font-size: 20px !important;
			}
		}
	}
}
.downloads{
	a{
		div{
			h4{
				color:initial;
			}
		}
	}
}
.downloads{
	a{
		div:hover i:before{
			@include transition(all 0.25s linear);
			color:$first-green;
		}
	}
}
.nav-tabs>li.documents.active>a,
.nav-tabs>li.documents>a:hover,
.nav-tabs>li.documents.active>a:focus a{
		background-color: $dark-gray !important;
}
.documents
	.panel-heading{
		background-color: $dark-gray !important;   
	}
.diag-menu{
	display: table;
	margin: 0 auto;
}